<div class="container contenedorPagina" style=" margin-top: 100px; height: 400px;">

  <div class=" container col-md-7 col-lg-8" style="margin-top:15px;">
    <!-- <button (click)="atras()" class="btnAtras" >Atras</button> -->

    <div class="divh5" style="margin-top: 10px;">
      <h6 class="mb-3">Mi perfil</h6>
    </div>

    <div class="row g-4">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="nombre" [value]="miUsuario.nombre"
          readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="apellido" [value]="miUsuario.apellido"
          readonly>

      </div>
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Edad</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="edad" [value]="miUsuario.edad" readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">DNI</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="dni" [value]="miUsuario.dni" readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Email</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="miUsuario.email"
          readonly>
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Tipo usuario</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="miUsuario.tipoUsuario"
          readonly>
      </div>
      <div class="col-sm-6" *ngIf="miUsuario.tipoUsuario == 'paciente'">
        <label for="lastName" class="form-label">Fotos: </label>
        <br>
        <img style="margin-right: 3px;" src="{{miUsuario?.imgsPerfil[0]}}" alt="" width="40px" height="40px">
        <img src="{{miUsuario?.imgsPerfil[1]}}" alt="" width="40px" height="40px">
      </div>
      <div class="col-sm-6" *ngIf="miUsuario.tipoUsuario == 'paciente'">
        <label for="lastName" class="form-label">Obra social</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="miUsuario.obraSocial"
          readonly>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="miUsuario.tipoUsuario == 'administrador'">
      <label for="lastName" class="form-label">Fotos: </label>
      <br>
      <img style="margin-right: 3px;" src="{{miUsuario?.imgPerfil}}" alt="" width="40px" height="40px">
    </div>

    <div class="col-sm-6" *ngIf="miUsuario.tipoUsuario == 'especialista'">
      <label for="lastName" class="form-label">Fotos: </label>
      <br>
      <img style="margin-right: 3px;" src="{{miUsuario?.imgPerfil}}" alt="" width="40px" height="40px">
    </div>

    <div *ngIf="miUsuario.tipoUsuario == 'especialista'">
      <div style="margin-top: 20px;">
        <div>
          <h4>Especialidad</h4>
        </div>
        <div>
          <button *ngFor="let especialidad of obtenerEspecialidades()" (click)="seleccionarEspecialidad(especialidad)" style="margin-right: 5px; margin-bottom: 5px;"> {{especialidad}} </button>
        </div>
      </div>
      <div>
        <div>
          <h4>Horarios</h4>
        </div>
        <div>
          <button *ngFor="let franjaHoraria of obtenerFranjasHorarias()" (click)="seleccionarFranjaHoraria(franjaHoraria)"> {{franjaHoraria}} </button>
        </div>
      </div>
      <div>
        <ul>
          <li>Especialidad seleccionada: {{especialidadSeleccionada}}</li>
          <li>Franja horaria seleccionada: {{horarioSeleccionado}}</li>
        </ul>
      </div>
      <div>
        <button class="btn btn-success mr-5 mt-2 btnEspecialista" (click)="crearHorario()">Guardar</button>
      </div>
    </div>
    </div>
    
</div>