<div @arriba  class="container contenedorPagina" style=" margin-top: 100px; height: 400px;">

  <div class=" container col-md-7 col-lg-8" style="margin-top:15px;">
    <!-- <button (click)="atras()" class="btnAtras" >Atras</button> -->

    <div class="divh5" style="margin-top: 10px;">
      <h6 class="mb-3">Mi perfil</h6>
    </div>

    <div class="row g-4">
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="nombre" [value]="miUsuario?.nombre"
          readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="apellido" [value]="miUsuario?.apellido"
          readonly>

      </div>
      <div class="col-sm-6">
        <label for="firstName" class="form-label">Edad</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="edad" [value]="miUsuario?.edad" readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">DNI</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="dni" [value]="miUsuario?.dni" readonly>

      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Email</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="miUsuario?.email"
          readonly>
      </div>
      <div class="col-sm-6">
        <label for="lastName" class="form-label">Tipo usuario</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="tipoUsuarioLogueado"
          readonly>
          <!-- <input type="text" class="form-control" id="floatingInput" value="{{tipoUsuarioPipe.transform(tipoUsuarioLogueado)}}"
          readonly>  -->

        
      </div>
      <div class="col-sm-6" *ngIf="tipoUsuarioLogueado== 'paciente'">
        <label for="lastName" class="form-label">Fotos: </label>
        <br>
        <img style="margin-right: 3px;" src="{{miUsuario?.imgsPerfil[0]}}" alt="" width="40px" height="40px">
        <img src="{{miUsuario?.imgsPerfil[1]}}" alt="" width="40px" height="40px">
      </div>
      <div class="col-sm-6" *ngIf="tipoUsuarioLogueado == 'paciente'">
        <label for="lastName" class="form-label">Obra social</label>
        <input type="text" class="form-control" id="floatingInput" placeholder="email" [value]="miUsuario?.obraSocial"
          readonly>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="tipoUsuarioLogueado == 'administrador'">
      <label for="lastName" class="form-label">Fotos: </label>
      <br>
      <img style="margin-right: 3px;" src="{{miUsuario?.imgPerfil}}" alt="" width="40px" height="40px">
    </div>

    <div class="col-sm-6" *ngIf="tipoUsuarioLogueado == 'especialista'">
      <label for="lastName" class="form-label">Fotos: </label>
      <br>
      <img style="margin-right: 3px;" src="{{miUsuario?.imgPerfil}}" alt="" width="40px" height="40px">
    </div>
    <br>

    
    <div *ngIf="tipoUsuarioLogueado==='especialista'"  class=" text-center divEspecialidades" >

      <label for="country" class="form-label  text-center " style="font-size: 20px; color: #223a66;">Especialidades 🩺</label>
      <div class="separador"></div>
      <table  class="table">
        <thead>
          <tr>
            <th scope="col">Especialidad</th>   
            <th scope="col">Seleccionar</th>   
          </tr>
        </thead>
        <tbody *ngFor="let especialidad of miUsuario?.especialidades" >
          <tr>
            <td>{{especialidad?.especialidad}}</td>
            <td *ngIf="especialidadSelected?.id !=  especialidad?.id"> <button class=" btn btn-info " type="submit" (click)="selectedEspecialidad(especialidad?.id)"> Seleccionar </button>  </td>
            <td *ngIf="especialidadSelected?.id ===  especialidad?.id"> <button class=" btn btn-success " type="submit" (click)="selectedEspecialidad(especialidad?.id)"> Seleccionar </button>  </td>
            
          </tr>
        </tbody>
      </table>
      <div class="separador"></div>

      <div class="divContenedorHorarios">
        <div class="divDias">
          <!-- <span class=" text-center" style="font-size: 20px;">Mis horarios </span> -->
          <!-- <hr class="my-4"> -->
          <label for="firstName" class="form-label">Dias</label>  
          <div class="divBotonesDias">
            <button *ngFor="let dia_ of diasSemana" class="btnDia"  type="submit" (click)="seleccionarDia(dia_.id)"> {{dia_.name}} </button>
          </div>
        </div>

        <div class="divDuracion">
          <!-- <label for="firstName" class="form-label">Duracion del turno predemeditada: {{especialidadSelected?.disponibilidad}}' minutos.</label>     -->
          <label for="">Duracion de turno</label>
          <input type="text" class="form-control" id="firstName"  [(ngModel)]="newDisponibilidad">
        </div>
      </div>

     
      <button class=" btn btn-success  " type="submit" (click)="actualizarDuracionEspecialidad(especialidadSelected?.id)">Guardar cambios</button>
    </div>

  </div>

  <!--HISTORIAL CLINICO-->
  <div *ngIf="tipoUsuarioLogueado == 'paciente'">
    <app-historial-clinico [idPaciente]="miUsuario?.uid"></app-historial-clinico>
  </div>

  <!--Filtro de especialistas y turnos con el especialista seleccionado-->
  <div *ngIf="tipoUsuarioLogueado == 'paciente'"   >
    <h6>Filtrar los turnos:</h6>
    <button appColor style="margin: 5px; width: 10% ;height:8%; " type="button" class="btn btn-outline-info" (click)="activarFiltroEspecialistas()" >Por: Especialista</button>
    <button *ngIf="filtroAplicado" style="margin: 10px;color: white; " type="button" class="btn btn-danger" (click)="eliminarFiltros()"> Eliminar Filtro </button>

    <div  *ngIf="filtroEspecialista">
      <div class="d-flex flex-column justify-content-center align-items-center" style="background-color: pink; border-radius: 5px;">
        <h5>Especialistas</h5>
      </div>
      <br>
        <div class="divider text-center"></div>

        <div class="container-fluid d-flex justify-content-space-around ">
          <div *ngFor="let usuario of listadoEspecialistas" class="cardInfo">
            <ul style="border: solid 2px #223A66; list-style: none; border-radius: 10px;padding:10px;background-color: white;">
              <li>Nombre: {{usuario?.nombre}}</li>
              <li>Apellido: {{usuario?.apellido}}</li>
              <li>Opcion: <button  style="margin: 10px;color: white; " type="button" class="btnRegistro" (click)="seleccionarEspecialistaParaFiltrar(usuario)" >Elegir</button></li>
            </ul>
          </div>
        </div>
    </div>

    <div *ngIf="filtroAplicado">
      <div style="background-color: white;" id="turnosListadoPDF" #turnosListadoPDF>
        <div class="d-flex flex-start ">
          <img src="../../../assets/iconoClinica.png" alt="" width="30px" height="30px">
          <h3 style="margin-left: 5px;">Clinica Online </h3>
        </div>
        <h5>Turnos del paciente</h5>
        <p>Fecha: {{fechaActual | date :'dd/MM/yyyy'}}</p>
        <table  class="table">
          <thead>
            <tr style="background-color: pink; border-radius: 5px;">
              <th scope="col">Paciente</th>
              <th scope="col">Especialista</th>
              <th scope="col">Fecha turno</th>
              <th  scope="col">Estado del turno</th>
              <th  scope="col">Obrasocial</th>
            </tr>
          </thead>
          <tbody *ngFor="let turno of listaTurnos" >
            <tr>
  
              <td>{{turno?.paciente.nombre}}, {{turno?.paciente.nombre}}</td>
              <td>{{turno?.especialista.nombre}},{{turno?.especialista.nombre}}</td>
              <td> {{turno?.fecha.toLocaleDateString()}}</td>
              <td>{{obtenerEstadoTurno(turno?.estadoTurno)}}</td>
              <td>{{turno?.paciente.obraSocial}}</td>
            </tr>
          </tbody>
        </table>  
      </div>
      <button (click)="crearPDFturnos()">Descargar PDF</button>
    </div>


    <!-- <div *ngIf="listaTurnos.length > 0">
      <div *ngFor="let turno of listaTurnos" class="shadow cardInfo" >
        <ul style="border: solid 2px #223A66; list-style: none; border-radius: 10px;padding:10px; ">
          <li>
          Fecha: {{turno?.fecha.toLocaleDateString()}}
          </li>
          <li>
            <strong>Especialista:</strong>
            {{turno?.especialista.nombre}}, {{turno?.especialista.apellido}}
          </li>
          <li>
            <strong>Paciente:</strong>  {{turno?.paciente.nombre}}, {{turno?.paciente.apellido}} <img src="{{turno?.paciente.imgsPerfil[0]}}" alt="" width="20px" height="20px"><img src="{{turno?.paciente.imgsPerfil[1]}}" alt="" width="20px" height="20px">
            
          </li>
   
          <li>
            <strong>Especialidad:</strong>
        {{turno?.especialidad.especialidad}}
          </li>
          <li>
            Estado del turno: {{obtenerEstadoTurno(turno?.estadoTurno)}}
          </li>
        </ul>
      </div>
    </div> -->
    <div *ngIf="listaTurnos.length ==0">
      <p>No tiene turnos con ese especialista.</p>
    </div>





  </div>
</div>