<div class="container contenedorRegistro shadow" style="border-radius: 20px;">
  <div class="col-md-7 col-lg-8" style="margin-top:15px;">
      <div class="divh5">
          <h6 class="mb-3" >Registro Especialista</h6>
      </div>
      <form [formGroup]="formaEspecialista" (ngSubmit)="obtenerDatosEnviarRegistroEspecialista()">
        <div class="row g-4">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="nombre" value="" formControlName="nombre">
            <small class="invalid" *ngIf="formaEspecialista.controls['nombre'].errors?.['required']&& formaEspecialista.controls['nombre'].touched" style="color:red ;">
              El nombre es requerido
            </small>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="apellido" formControlName="apellido">
            <small class="invalid" *ngIf="formaEspecialista.controls['apellido'].errors?.['required']&& formaEspecialista.controls['apellido'].touched" style="color:red ;">
              El apellido es requerido
            </small>
          </div>
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Edad</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="edad" formControlName="edad">
            <small class="invalid" *ngIf="formaEspecialista.controls['edad'].errors?.['required']&& formaEspecialista.controls['edad'].touched" style="color:red ;">
              El edad es requerido
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['edad'].errors?.['min']&& formaEspecialista.controls['edad'].touched" style="color:red ;">
              No puede menor a 18 
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['edad'].errors?.['max']&& formaEspecialista.controls['edad'].touched" style="color:red ;">
              No puede mayor a 99 
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['edad'].errors?.['pattern']&& formaEspecialista.controls['edad'].touched" style="color:red ;">
              Solo numeros 
            </small>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">DNI</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="dni" formControlName="dnidoc">
            <small class="invalid" *ngIf="formaEspecialista.controls['dnidoc'].errors?.['required']&& formaEspecialista.controls['dnidoc'].touched" style="color:red ;">
              El dni es requerido
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['dnidoc'].errors?.['pattern']&& formaEspecialista.controls['dnidoc'].touched" style="color:red ;">
              Solo numeros 
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['dnidoc'].errors?.['minlength']&& formaEspecialista.controls['dnidoc'].touched" style="color:red ;">
              No puede ser menos de 8 caracteres 
            </small>
          </div>

          <div class="col-sm-12">
            <div></div>
              <label class="form-label">Nueva especialidad</label>
            <div></div>
              <input type="text" placeholder="especialidad"  #nuevaEsp >
            <div></div>
            <button type="button" (click)="nuevaEspecialidad(nuevaEsp.value)">CREAR</button>
          </div>
          

          <!--ESPECIALIDAD AGREGAR Y LISTAR-->
          <div class="col-sm-12">
            <div>
              <label for="especialidad" class="form-label">Especialidad</label>
            </div>
            <div>
              <select #agregarEsp>
                <option  value='0' >Seleccione...</option>
                <option *ngFor="let especilidad of listadoEspecialidades" value={{especilidad.valor}} > {{especilidad.valor}} </option>
              </select>
            </div>
            <div>
              <button type="button" (click)="agregarEspecialidad(agregarEsp.value)">AGREGAR</button>
            </div>
          </div>


          <div class="col-sm-12">
            <div>
              <label class="form-label">Listado especialidades seleccionadas:</label>
            </div>
            <div>
              <li *ngFor="let es of this.miEspecialista.especialidades">
                {{es}}
              </li>
            </div>
          </div>
          
          <!-- <div class="form-group">
            <label class='margin' for="especialidad">Seleccione su especialidad, o elija crear una nueva:</label>
            <select class="form-select" id="especialidad" formControlName="especialidad">
                <option *ngFor="let especialidad of listadoEspecialidades">
                    {{especialidad.especialidad}}</option>
            </select>
            <small
                *ngIf="formaEspecialista.get('especialidad')?.touched && formaEspecialista.get('especialidad')?.errors?.['required']"
                class="invalid">El especialidad es requerido.</small>
        </div>
    
        <div *ngIf="this.formaEspecialista.get('especialidad')?.value == 'Agregar una especialidad'">
            <div class="form-floating mb-2 margin">
                <input type="name" class="form-control" id="nuevaEspecialidad" placeholder="Especialidad"
                    formControlName="nuevaEspecialidad">
                <label for="floatingInput">Nueva Especialidad</label>
                <small
                    *ngIf="formaEspecialista.get('nuevaEspecialidad')?.touched && formaEspecialista.get('nuevaEspecialidad')?.errors?.['required']"
                    class="invalid">El nuevaEspecialidad es requerido.</small>
    
            </div>
        </div> -->


          <div class="col-sm-6">
            <label for="lastName" class="form-label">Email</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="email" formControlName="email">
            <small class="invalid" *ngIf="formaEspecialista.controls['email'].errors?.['required']&& formaEspecialista.controls['email'].touched" style="color:red ;">
              El email es requerido
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['email'].errors?.['email']&& formaEspecialista.controls['email'].touched" style="color:red ;">
              Debe ser email valido
            </small>
            <small *ngIf="mostrarmensaje">{{this.mensaje}}</small>
          </div>

          <div class="col-sm-6">
            <label for="firstName" class="form-label">Password</label>
            <input type="password" class="form-control" id="floatingInput" placeholder="password" formControlName="password">
            <small class="invalid" *ngIf="formaEspecialista.controls['password'].errors?.['required']&& formaEspecialista.controls['password'].touched" style="color:red ;">
              El password es requerido
            </small>
            <small class="invalid" *ngIf="formaEspecialista.controls['password'].errors?.['minlength']&& formaEspecialista.controls['password'].touched" style="color:red ;">
              No puede ser menos de 6 caracteres 
            </small>
        </div>

        <div class="col-sm-6">
          <label for="imagen" class="form-label">Imagen de perfil</label>
          <input type="file" accept=".png, .jpg, .jpeg" multiple class="form-control" id="imagen" formControlName="imagen" (change)="cargarImagen($event)">
          <small class="invalid" *ngIf="formaEspecialista.controls['imagen'].errors?.['required']&& formaEspecialista.controls['imagen'].touched" style="color:red ;">
            El imagen es requerido
          </small>
        </div>

        <div class="col-sm-12">
          <label for="imagen" class="form-label">Capcha</label>
          <div style="display: flex; justify-content:space-around">
            <input type="number" class="form-control " value={{this.numeroRandom}} readonly style="width:25% ;">
            <input type="text" style="width:40% ;" class="form-control " formControlName='capcha' name="capcha" required>
            <small  style="color:red ;" class="invalid" *ngIf="formaEspecialista.controls['capcha'].errors?.['required'] && formaEspecialista.controls['capcha'].touched">El capcha es requerido</small>
            <input type="text" style="width:10% ;" required readonly value="❌" *ngIf='this.formaEspecialista.get("capcha")?.value != this.numeroRandom'>
            <input type="text" style="width:10% ;" required readonly value="✔️" *ngIf='this.formaEspecialista.get("capcha")?.value == this.numeroRandom'>
          </div>
        </div>
        
      </div>
      <div class="d-flex justify-content-center">
        <img *ngIf="spinnerImgSubiendose" src="../../../assets/imgRegistro/loading-icegif-1.gif" alt="imagenSubida" class="gifCargando" width="100px" height="100px">
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
        <button class="w-50 btn btn-primary btn-lg" type="submit"  [disabled]="formaEspecialista.invalid">Registrarse</button>
      </div>
      <!--*ngIf="spinnerImgSubiendose"-->
      
    </form>


  </div>
</div>


