.divEspecialistas{
    display: flex;
    flex-direction: column;
    //border: 1px solid blue;

}

.divListado{
    display: flex;
    //border: 1px solid red;
    justify-content: space-around;
}

.divListado2{
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.btnRegistro{
    border-radius: 50px;
    background: #223a66;
    color: #fff;
    border-color: #223a66;
    display: inline-block;
    font-size: 14px;
    font-size: 0.8125rem;
    font-weight: 700;
    letter-spacing: .5px;
    padding: 0.75rem 2rem;
    font-family: "Exo", sans-serif;
    text-transform: uppercase;
    border: 2px solid transparent;
    transition: all .35s ease;
}
.botonEspecialidad{
    border-radius: 70px;
    height: 170px;
    width: 170px;
    background-color: white;
    border: #03b1a9 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.divInfo{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divInfo2{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}


.listadoBtn{
    width: 80%;
    display: flex;
    justify-content: center;
    //border: 1px solid green;
}
.divListadoPadre{
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    justify-content: space-around;

}

.divBotonEspecialidad{
    width: 100px;
    height: 100px;
}


//width:200px; border: 2px solid black;
.cardEspecialista{
    width:200px; 
    border-radius: 10px;
    //border: 1px solid gainsboro;
    background-color: white;
}

ul li{
    list-style:none
}

.divider {
    width: 40px;
    height: 3px;
    background: #03b1a9
}


.btnDia{
    background-color: #C3C3C3;
    border-color: #797979;
    color: black;
    border-radius: 5px;
    width: 10%;
    font-size: 8px;
    margin-left: 4px;
}