<!-- TODO FIXME MARGIN -->
<div style="margin-top:100px">
  <div>
    <h3>TURNOS</h3>
  </div>

  <div>
    <div>
      <h3>
        ESPECIALIDAD
      </h3>
    </div>
    <div>
      <button *ngFor="let especialidad of obtenerEspecialidades()" (click)="seleccionarEspecialidad(especialidad)"> {{especialidad.valor}} </button>
    </div>
  </div>

  <div>
    <div>
      <h3>
        ESPECIALISTAS
      </h3>
    </div>
    <div>
      <button *ngFor="let especialista of obtenerEspecialistas()" (click)="seleccionarEspecialista(especialista)"> {{especialista.nombre}} {{especialista.apellido}}</button>
    </div>
  </div>

  <div>
    <div>
      <h3>
        HORARIOS
      </h3>
    </div>
    <div>
      <button *ngFor="let horarioDisponible of obtenerHorariosDisponibles()" (click)="seleccionarHorario(horarioDisponible)"> {{horarioDisponible}} </button>
    </div>
  </div>

  <div>
    <div>
      <h3>
        CONFIRMACION
      </h3>
    </div>
    <div>
      <ul>
        <li>
          Horario: {{datos?.horarioSeleccionado}}
        </li>
        <li>
          Especialidad: {{datos?.especialidad}}
        </li>
        <li>
          Especialista: {{datos?.especialista?.nombre}} {{datos?.especialista?.apellido}}
        </li>
      </ul>
    </div>
    <div>
      <button (click)="crearTurno()"> Crear </button>
    </div>
  </div>