<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #223a66">
    <div class="container-fluid">
     <img src="../../../assets/imgnavbar/clinicaLogo.png" alt="" width="50px" style="border-radius: 90px; margin-left:25px; margin-right:20px;" >
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <!--<li li class="nav-item" *ngIf="estaLogueado">-->
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/bienvenido']" >Bienvendo</a>
          </li>
          <li class="nav-item" *ngIf="tipoUsuarioLogueado =='administrador'">
            <a class="nav-link" [routerLink]="['/usuarios']">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado">
            <a class="nav-link"  [routerLink]="['/perfil']">Perfil</a>
          </li>
          <li class="nav-item" *ngIf="tipoUsuarioLogueado =='paciente' ||tipoUsuarioLogueado =='administrador'  ">
            <a class="nav-link" [routerLink]="['/turno/solicitarTurno']">Solicitar turnos</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado">
            <a class="nav-link" [routerLink]="['/turno/misTurnos']">Mis turnos</a>
          </li>
          <li class="nav-item" *ngIf="tipoUsuarioLogueado =='administrador'">
            <a class="nav-link" [routerLink]="['/turno/gestionTurnos']">Gestion turnos</a>
          </li>
          <li *ngIf="tipoUsuarioLogueado =='especialista'">
            <a class="nav-link" [routerLink]="['/seccionPacientes']">Seccion pacientes</a>
          </li>
          <li *ngIf="tipoUsuarioLogueado =='administrador'">
            <a class="nav-link" [routerLink]="['/estadisticas']">Estadisticas</a>
          </li>

        </ul>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" *ngIf=" usuarioLogueado | async as usuarioLogueado">
          <p class="nav-item" style="color: white;">👤: {{usuarioNombre}}</p>
        </div>
        <div class="text-end"  *ngIf="usuarioLogueado | async as usuarioLogueado">
          <button type="button" class="btn btn-outline-light me-2" (click)="CerrarSesion()" [routerLink]="['/login']"> Log Out</button>
        </div>

        <div class="text-end" *ngIf="!estaLogueado">
            <button type="button" class="btn btn-outline-light me-2" [routerLink]="['/registro']">Registro</button>
            <button type="button" class="btn " style=" background: #e12454;
            color: #fff;
            border-color: #e12454;" [routerLink]="['/login']">LogIn</button>
        </div>
        
      </div>
    </div>
  </nav>
  