<div class="container contenedorPagina" style=" margin-top: 100px; height: 400px;">

    <div class="row" *ngIf='!this.tipo'>
        <div class="col-lg-12">
            
            <div class="feature-block contenedorPregunta">

                <div class="feature-item mb-5 mb-lg-0" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
                    <div>
                        <button class="botonRegistro" (click)='tipo = "paciente"'>
                            <img src="../../../assets/imgRegistro/paciente1.png" alt="" width="260px" height="260px">
                        </button>
                    </div>
                    <h4 class="mb-3">Registro paciente</h4>
                </div>


                
                <div class="feature-item mb-5 mb-lg-0" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
                    <div>
                        <button class="botonRegistro" (click)='tipo = "especialista"'>
                            <img src="../../../assets/imgRegistro/especialista1.png" alt=""width="250px" height="250px">
                        </button>
                    </div>
                    <div>
                        <h4 class="mb-3" >Registro especialista</h4>
                    </div>
                </div>
  
                <div class="feature-item mb-5 mb-lg-0" *ngIf="this.firebaseService.tipoUsuario == 'administrador'">
                    <div class="feature-icon mb-4">
                        <!-- <i class="icofont-surgeon-alt"></i> -->
                    </div>
                    <span>24 Hours Service</span>
                    <h4 class="mb-3">Registro administrador</h4>
                    <img src="../../../assets/imgRegistro/paciente1.png" alt="" width="70px" height="70px">
                    <ul class="w-hours list-unstyled">
                        <li class="d-flex justify-content-between">Sun - Wed : <span>8:00 - 17:00</span></li>
                        <li class="d-flex justify-content-between">Thu - Fri : <span>9:00 - 17:00</span></li>
                    </ul>
                    <button class="btnRegistro" (click)='tipo = "administrador"'>Registro administrador</button>
                </div>

            </div>
        </div>
    </div>
  
   <!---------------------------------REGISTROS------------------------------------------>
   <div *ngIf="this.tipo == 'paciente'">
     <app-registro-paciente></app-registro-paciente>
    </div>
   
    <div *ngIf="this.tipo == 'especialista'">
    <app-registro-especialista></app-registro-especialista>
   </div>

    <div *ngIf="this.tipo == 'administrador'">
    <app-registro-admin></app-registro-admin>
   </div>



</div>
  
  
  