<main class="form-signin  text-center container shadow" style="margin-top: 100px;">
    <form [formGroup]="forma" (ngSubmit)="verificarUsuario()">
      <img class="mb-4" src="../../../assets/imgRegistro/login.png" alt="" width="70" height="70">
      <h1 class="h3 mb-3 fw-normal">Ingresar</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="name@example.com" [(ngModel)]="emailu" formControlName="email">
        <label for="floatingInput">Email address</label>
        <small class="invalid" *ngIf="forma.controls['email'].errors?.['required']&& forma.controls['email'].touched" style="color:red ;">
          El email es requerido
         </small>
         <small class="invalid" *ngIf="forma.controls['email'].errors?.['email']&& forma.controls['email'].touched" style="color:red ;">
          Ingrese un formato valido
         </small>
      </div>
      <div class="form-floating">
        <input type="password" id="password" class="form-control" id="floatingPassword" placeholder="Password" [(ngModel)]="passu" formControlName="password">
        <label for="floatingPassword">Password</label>
        <small class="invalid" *ngIf="forma.controls['password'].errors?.['required']&& forma.controls['password'].touched" style="color:red ;">
          La contraseña es requerida
      </small>
      </div>
  
      <div style="display: flex; align-items:center; justify-content: end;">
        <p style="width: 80%;" class="buttonNormal" >Accesos rapidos ➡️</p>
      </div>
      <p>{{this.mensaje}}</p>
      <button class="w-100 buttonLog " type="submit" [disabled]="forma.invalid">Entrar</button>
    </form>
    <div class="div.Derecho">
      <div class="miniEspacio shadow-lg">
        <!--Paciente ok-->
        <button (click)="accesoRapido('yrn97342@jeoce.com','123456')" style="border-radius: 18px; border-color: #223A66; border-width: 3px; "><img  class="imgBoton"  height="50px" width="50px"  src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgPerfilPacientes%2FPacienteA_yrn97342%40jeoce.com_img0?alt=media&token=a731857e-2e39-4578-b49c-9474929ca158" alt=""></button>
      </div>
      
          <!--paciente ok-->
          <div class="miniEspacio shadow-lg">
            <button (click)="accesoRapido('uqc34960@jiooq.com','123456')" style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px"  src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgPerfilPacientes%2FPacienteB_uqc34960%40jiooq.com_img1?alt=media&token=c8812880-234a-4144-9ccc-1cc8f6be6913"></button>     
          </div>
    
          
          <!--especialista ok-->
          <div class="miniEspacio shadow-lg">
            <button (click)="accesoRapido('wofon66766@qqhow.com','123456')" style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgperfilEspecialista%2Fwofon66766%40qqhow.com_DoctorA?alt=media&token=4bf12d0c-e262-4e54-be73-4a3432d6e03d" alt=""></button>     
          </div>
          
      <!-- <div class="miniEspacio shadow-lg">
        <button  style="border-radius: 18px; border-color: #223A66; border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="../../../assets/usuarios/paciente4.png" alt=""></button>
      </div>
      <div class="miniEspacio shadow-lg">
        <button  style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="../../../assets/usuarios/pacientef2.png" alt=""></button>
      </div> -->
      <div class="miniEspacio shadow-lg">
        <button (click)="accesoRapido('jsckrhhdzumsbnopyt@kvhrs.com','123456')" style="border-radius:18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgperfilEspecialista%2Fjsckrhhdzumsbnopyt%40kvhrs.com_DoctorB?alt=media&token=e06b4421-1ad2-4258-892f-93d83360f180" alt=""></button>
      </div>
      <div class="miniEspacio shadow-lg">
        <button (click)="accesoRapido('mgajegehlodgryxoqf@bvhrs.com','123456')" style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgperfilEspecialista%2Fmgajegehlodgryxoqf%40bvhrs.com_Admin?alt=media&token=3b4876aa-2bb0-4585-a240-23d37e130982" alt=""></button>     
      </div>

      <!--paciente-->
      <div class="miniEspacio shadow-lg">
        <button (click)="accesoRapido('pvjtuwowoiqfkvednl@kvhrs.com','123456')" style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="https://firebasestorage.googleapis.com/v0/b/tp-clinicaonline-fc.appspot.com/o/imgperfilEspecialista%2Fpvjtuwowoiqfkvednl%40kvhrs.com_DoctoCImg?alt=media&token=581e2ada-bf59-4316-9484-301e73e3c9ed" alt=""></button>     
      </div>

      
  
      <!-- <div class="miniEspacio shadow-lg">
        <button  style="border-radius: 18px; border-color: #223A66;border-width: 3px"><img class="imgBoton"  height="50px" width="50px" src="../../../assets/usuarios/oculista.png" alt=""></button>
      </div> -->
    </div>

  </main>