<section @arriba class="banner">
	<div class="container d-flex flex-column justify-content-start align-items-start">
		<div class="row">
			<div class="col-lg-6 col-md-12 col-xl-7">
				<div class="block">
					<!-- <div class="divider mb-3"></div> -->
                    <br>
					<span class="text-uppercase text-sm letter-spacing spanTotal">Laboratorio IV</span>
					<h1 class="mb-3 mt-3">Clinica Laboratorio</h1>
					
					<p class="mb-4 pr-5">Bienvenido a la clinica, por favor loguearse para acceder</p>
					<div class="contenedorBotones">
						<button appAgrandar  [routerLink]="['/login']">Entrar</button>
                        <button appAgrandar class="btnRegistro" [routerLink]="['/registro']">Registro</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
            <div class="section-title">
                <h2>Award winning patient care</h2>
                <div class="divider mx-auto my-4"></div>
                <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
            </div>
        </div>
    </div>
</div> -->

