<div style="margin-top: 100px;">
    <div>
      <h3>Turnos</h3>
    </div>
    <div *ngFor="let turno of obtenerTurnos()">
      
      <ul>
        <li>
          Fecha: {{obtenerFechaFormateada(turno.fecha)}}
          <!-- Fecha: {{obtenerFechaFormateada(turno.fecha) | date: 'dd-MM-yyyy - hh:mm'}} -->
        </li>
        <li>
          Especialidad: {{turno.nombreEspecialidad}}
        </li>
        <li>
          Estado: {{turno.estado}}
        </li>
        <button (click)="aceptarTurno(turno)">ACEPTAR</button>
        <button (click)="cancelarTurno(turno)">CANCELAR</button>
      </ul>
    </div>
  </div>