<div style="margin-top: 100px; background-color: white; border-radius: 15px;  " class="container d-flex flex-column">
    <div style="background-color: white; color:#223A66;">
      <h3>Turnos🗓️</h3>
    </div>
    <div *ngFor="let tur of turnos">
      <ul style="border: solid 2px #223A66;">
        <li>
          <!-- Fecha: {{obtenerFechaFormateada(tur.fecha)}} -->
          Fecha: {{obtenerFechaFormateada(tur.fecha) | date: 'dd-MM-yyyy - hh:mm'}}
        </li>
        <li>
          Especialidad: {{tur.nombreEspecialidad}}
        </li>
        <li>
          Estado: {{tur.estado}}
        </li>
        <button (click)="aceptarTurno(tur)">ACEPTAR</button>
        <button (click)="cancelarTurno(tur)">CANCELAR</button>
      </ul>
    </div>
  </div>