<div class="container contenedorRegistro shadow" style="border-radius: 20px;">
  <div class="col-md-7 col-lg-8" style="margin-top:15px;">
      <div class="divh5">
          <h6 class="mb-3 ">Registro Paciente</h6>
      </div>
      <form [formGroup]="formaPaciente" (ngSubmit)="obtenerDatosEnviarRegistroPaciente()">
        <div class="row g-4">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" placeholder="nombre" value="" formControlName="nombre">
            <small class="invalid" *ngIf="formaPaciente.controls['nombre'].errors?.['required']&& formaPaciente.controls['nombre'].touched" style="color:red ;">
              El nombre es requerido
            </small>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" placeholder="apellido" formControlName="apellido">
            <small class="invalid" *ngIf="formaPaciente.controls['apellido'].errors?.['required']&& formaPaciente.controls['apellido'].touched" style="color:red ;">
              El apellido es requerido
            </small>
          </div>
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Edad</label>
            <input type="text" class="form-control" placeholder="edad" formControlName="edad">
            <small class="invalid" *ngIf="formaPaciente.controls['edad'].errors?.['required']&& formaPaciente.controls['edad'].touched" style="color:red ;">
              El edad es requerido
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['edad'].errors?.['min']&& formaPaciente.controls['edad'].touched" style="color:red ;">
              No puede menor a 18 
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['edad'].errors?.['max']&& formaPaciente.controls['edad'].touched" style="color:red ;">
              No puede mayor a 99 
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['edad'].errors?.['pattern']&& formaPaciente.controls['edad'].touched" style="color:red ;">
              Solo numeros 
            </small>
          </div>
          <div class="col-sm-6">
            <label for="lastName" class="form-label">DNI</label>
            <input type="text" class="form-control" placeholder="dni" formControlName="dnidoc">
            <small class="invalid" *ngIf="formaPaciente.controls['dnidoc'].errors?.['required']&& formaPaciente.controls['dnidoc'].touched" style="color:red ;">
              El dni es requerido
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['dnidoc'].errors?.['pattern']&& formaPaciente.controls['dnidoc'].touched" style="color:red ;">
              Solo numeros 
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['dnidoc'].errors?.['minlength']&& formaPaciente.controls['dnidoc'].touched" style="color:red ;">
              No puede ser menos de 8 caracteres 
            </small>
          </div>
          <div class="col-sm-6">
          
              <label for="lastName" class="form-label">Obre social</label>
              <input type="text" class="form-control" placeholder="obraSocial" formControlName="obraSocial">
              <small class="invalid" *ngIf="formaPaciente.controls['obraSocial'].errors?.['required']&& formaPaciente.controls['obraSocial'].touched" style="color:red ;">
                El obraSocial es requerido
              </small>
            
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Email</label>
            <input type="text" class="form-control" placeholder="email" formControlName="email">
            <small class="invalid" *ngIf="formaPaciente.controls['email'].errors?.['required']&& formaPaciente.controls['email'].touched" style="color:red ;">
              El email es requerido
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['email'].errors?.['email']&& formaPaciente.controls['email'].touched" style="color:red ;">
              Debe ser email valido
            </small>
          </div>

          <div class="col-sm-6">
            <label for="firstName" class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="password" formControlName="password">
            <small class="invalid" *ngIf="formaPaciente.controls['password'].errors?.['required']&& formaPaciente.controls['password'].touched" style="color:red ;">
              El password es requerido
            </small>
            <small class="invalid" *ngIf="formaPaciente.controls['password'].errors?.['minlength']&& formaPaciente.controls['password'].touched" style="color:red ;">
              No puede ser menos de 6 caracteres 
            </small>
        </div>

        <div class="col-sm-6">

          <label for="imagen" class="form-label">Ingrese 2 imagenes de perfil:</label>
          <input type="file" accept=".png, .jpg, .jpeg" multiple class="form-control" id="imagen" formControlName="imagen" (change)="cargarImagen($event)">
          <small class="invalid" *ngIf="formaPaciente.controls['imagen'].errors?.['required']&& formaPaciente.controls['imagen'].touched" style="color:red ;">
            El imagen es requerido
          </small>



          <!-- <label for="imagen" class="form-label">Imagen de perfil</label>
          <input type="file" accept=".png, .jpg, .jpeg" multiple class="form-control" id="imagen" formControlName="imagen" (change)="cargarImagen1($event)">
          <small class="invalid" *ngIf="formaPaciente.controls['imagen'].errors?.['required']&& formaPaciente.controls['imagen'].touched" style="color:red ;">
            El imagen es requerido
          </small>
          <label for="imagen" class="form-label">Imagen de perfil 2</label>
          <input type="file" accept=".png, .jpg, .jpeg" multiple class="form-control" id="imagen" formControlName="imagen" (change)="cargarImagen2($event)">
          <small class="invalid" *ngIf="formaPaciente.controls['imagen'].errors?.['required']&& formaPaciente.controls['imagen'].touched" style="color:red ;">
            El imagen es requerido
          </small> -->
        </div>
      </div>
      <div class="d-flex justify-content-center">

        <img *ngIf="spinnerImgSubiendose" src="../../../assets/imgRegistro/loading-icegif-1.gif" alt="imagenSubida" class="gifCargando" width="100px" height="100px">
      </div>
      <div class="d-flex justify-content-center" style="margin-top: 10px; margin-bottom: 10px;">
        <button class="w-50 btn btn-primary btn-lg" type="submit"  [disabled]="formaPaciente.invalid">Registrarse</button>
      </div>
      
   
     
    </form>

   


  </div>
</div>



