<h2>Pacientes </h2>
<div class="container" style="margin-top: 100px;">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <div class="d-flex justify-content-center">
      
        <img *ngIf="spinnerImgSubiendose" src="../../../assets/imgRegistro/loading-icegif-1.gif" alt="imagenSubida" class="gifCargando" width="100px" height="100px">
      </div>
        <h4> Listado usuarios</h4>
        <!--[listaContainer]="listaContainer(esto es una var de ts)"-->
        <h2>Pacientes</h2>
        <table  class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Dni</th>
                <th scope="col">ObraSocial</th>
                <th scope="col">Email</th>
                <th scope="col">TipoUsuairo</th>
                <th scope="col">Img1</th>
                <th scope="col">Img2</th>
               
              </tr>
            </thead>
            <tbody *ngFor="let paciente of listaPaciente" >
              <tr>
                <td>{{paciente?.nombre}}</td>
                <td>{{paciente?.apellido}}</td>
                <td>{{paciente?.edad}}</td>
                <td>{{paciente?.dni}}</td>
                <td>{{paciente?.obraSocial}}</td>
                <td>{{paciente?.email}}</td>
                <td>{{paciente?.tipoUsuario}}</td>
                <td><img src="{{paciente?.imgsPerfil[0]}}" alt="" width="70px" height="70px"></td>
                <td><img src="{{paciente?.imgsPerfil[1]}}" alt="" width="70px" height="70px"></td>
              </tr>
            </tbody>
          </table>
        
          <h2>Especialistas </h2>
        <table  class="table">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Edad</th>
                <th scope="col">Dni</th>
                <!-- <th scope="col">Especialidad</th> -->
                <th scope="col">Email</th>
                <th scope="col">TipoUsuairo</th>
                <!-- <th scope="col">Verificado</th> -->
                <th scope="col">Img</th>
               
              </tr>
            </thead>
            <tbody *ngFor="let especialista of listaEspecialista" >
              <tr>
                <td>{{especialista?.nombre}}</td>
                <td>{{especialista?.apellido}}</td>
                <td>{{especialista?.edad}}</td>
                <td>{{especialista?.dni}}</td>
                <!-- <td>{{especialista?.especialidad}}</td> -->
                <td>{{especialista?.email}}</td>
                <td>{{especialista?.tipoUsuario}}</td>
                <!-- <td>{{especialista?.verificadoEmail}}</td> -->
                <td><img src="{{especialista?.imgPerfil}}" alt="" width="70px" height="70px"></td>
        
              </tr>
            </tbody>
          </table>
      </div>

</div>
