.button1{
    border-style: none;
    color: white;
    background-color: green;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    font-size: 12px;

}
.button2{
    border-style: none;
    background-color: red;
    border-radius: 5px;
    width: 70px;
    height: 20px;
    font-size: 12px;
}

.divider {
    width: 40px;
    height: 3px;
    background: #e12454;
}

.btnRegistro{
    border-radius: 50px;
    background: #223a66;
    color: #fff;
    border-color: #223a66;
    display: inline-block;
    font-size: 11px;
    font-size: 0.8125rem;
    font-weight:200;
    letter-spacing: .5px;
    font-family: "Exo", sans-serif;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all .35s ease;
}

.btnRosa{
    border-radius: 50px;
    background: #e12454;
    color: #fff;
    border-color: #e12454;
    display: inline-block;
    font-size: 11px;
    font-size: 0.8125rem;
    font-weight:200;
    letter-spacing: .5px;
    font-family: "Exo", sans-serif;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all .35s ease;
}

.buttonHistorial{
    width: 60px;
    height: 20px;
    font-size: 11px;
    border-radius: 10px;
    background: #223a66;
    color: #fff;
    border-color: #223a66;
}


.buttonHistorial:hover{
    background: #e12454;
    color: #fff;
    border-color: #e12454;
}

.btnRosa:hover{
    background: #223a66;
    color: #fff;
    border-color: #223a66;
}

.btnRegistro:hover{
    background: #e12454;
    color: #fff;
    border-color: #e12454;
}

.buttonPaciente{
    border-radius: 100px;
    height: 90%;
    width: 90%;
}
   .divListadoPadre{
    display: flex;
    flex-direction: column;
    //border: 1px solid red;
    justify-content: space-around;

}