<div class="container" style="margin-top: 100px; background-color: white; border-radius: 20px;">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    
      <div class="d-flex justify-content-center">
        <img *ngIf="spinnerImgSubiendose" src="../../../assets/imgRegistro/loading-icegif-1.gif" alt="FotoSubida" class="gifCargando" width="100px" height="100px">
      </div>
      <div style="background-color: #E12454; color:white; border-radius: 20px;" >
        <h4 style="padding: 4px;"> Listado usuarios</h4>
      </div>

      <br>
      <div style="display:flex; justify-content: space-around;">

        <div *ngFor="let usuario of listaActualizadaUsuarios" >
          <button appBorde style="border-color:rgb(8, 170, 160)" class="shadow buttonPaciente"  (click)="filtrarTurnoUsuarioExcel(usuario)">
            <br>
            <img *ngIf="usuario?.tipoUsuario=='paciente'" src="{{usuario?.imgsPerfil[0]}}" alt="" width="30px" height="30px">
            <img *ngIf="usuario?.tipoUsuario=='especialista' || usuario?.tipoUsuario=='administrador'" src="{{usuario?.imgPerfil}}" alt="" width="30px" height="30px">
            <ul style="list-style: none; padding:20px;">
                <li><strong>Nombre: </strong> {{usuario?.nombre}}</li>
                <li><strong>Apellido: </strong> {{usuario?.apellido}}</li>
                <li><button class="buttonHistorial" (click)="seleccionarPacienteHistorial(usuario)">Historial</button></li>
                <li *ngIf="usuario.tipoUsuario == 'especialista' && !usuario.habilitado"  style="color: red;"> 
                  no habilitado
                  <button type="button" class="button1" (click)="actualizarHabilitado(usuario)">Habilitar</button> </li>
                <li *ngIf="usuario.tipoUsuario == 'especialista' && usuario.habilitado" style="color: green;" > habilitado
                  <button type="button" (click)="actualizarHabilitado(usuario)" class="button2">Deshabilitar</button>
                </li>
      
            </ul>
          </button>
        </div>
        




          <table hidden class="table"  id="excel-table">
            <thead>
              <tr style="background-color: pink; border-radius: 5px;">
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dni</th>
                <th  scope="col">Especialidad</th>
                <th  scope="col">Obrasocial</th>
                <th scope="col">Email</th>
                <th scope="col">Tipo</th>
        
              </tr>
            </thead>
            <tbody *ngFor="let usuario of listaActualizadaUsuarios" >
              <tr>

                <td>{{usuario?.nombre}}</td>
                <td>{{usuario?.apellido}}</td>
                <td>{{usuario?.dni}}</td>
                <td>
                  <span *ngFor="let espe of usuario.especialidad">{{espe.especialidad }}</span>
                  </td>
                <td>{{usuario.obraSocial != undefined ?usuario.obraSocial:'NoDefinido'}}</td>
                <td>{{usuario?.email}}</td>
                <td>{{usuario?.tipoUsuario}}</td>
              </tr>
            </tbody>
          </table>

          <table hidden class="table"  id="excel-tableTurnoUsuario">
            <thead>
              <tr style="background-color: pink; border-radius: 5px;">
                <th scope="col">Paciente</th>
                <th scope="col">Especialista</th>
                <th scope="col">Especialidad</th>
                <th  scope="col">Estado del turno</th>
                <th scope="col">Comentairo/Resenia</th>
        
              </tr>
            </thead>
            <tbody *ngFor="let turno of listaTurnos" >
              <tr>

                <td>{{turno?.paciente.nombre}}, {{turno?.paciente.apellido}}</td>
                <td>{{turno?.especialista.nombre}}, {{turno?.especialista.apellido}}</td>
                <td>{{turno?.especialidad.especialidad}}</td>
                <td>{{obtenerEstadoTurno(turno?.estadoTurno)}}</td>
                <td>{{turno?.comentario}}</td>
              </tr>
            </tbody>
          </table>
         
</div>
</div> 

   
    </div>
    <div>
      <button (click)="exportexcel()" class="btnRosa">Descargar excel</button>
     
    </div>

    <div *ngIf="mostrarHistorial">
      <app-historial-clinico [idPaciente]="usuarioSeleccionado?.uid" *ngIf="usuarioSeleccionado?.uid"></app-historial-clinico>  
      <button (click)="cerrarHistorial()">Cerrar historial</button>    
    </div>
